{{ define "root.tmpl" }}
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Talks: Brian Ketelsen</title>

		<meta name="description" content="Brian Ketelsen's presentations online">
		<meta name="author" content="Brian Ketelsen">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	</head>

	<body>

		<div>
           {{ range $value := . }}
			<div class="presentations">
                <a href="/{{$value.HTMLFile}}">{{ $value.Title}}</a>
			</div>
            {{ end }}
		</div>





	</body>
</html>
{{ end }}